@charset "utf-8";

html, body {
    min-width: 600px; /* 전체 페이지의 최소 너비 설정 */
    overflow-x: auto; /* 수평 스크롤바가 필요할 경우 활성화 */
}

#userWrapper {
    margin-left: 200px;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
}

#userContainer {
    margin: 0 auto;
    width: 95%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #ffffff; /* 내용 영역 배경색 */
    padding: 20px; /* 패딩 추가 */
    border-radius: 10px; /* 둥근 모서리 */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */ /* 그림자 효과 */
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* 제목 아래 여백 */
}

#searchForm {
    display: flex; /* 플렉스박스 사용 */
    justify-content: space-between; /* 공간을 골고루 배분 */
    margin-bottom: 20px; /* 검색 양식 아래 여백 */
}

.searchInput,
.statusSelect,
.searchButton {
    padding: 10px; /* 안쪽 여백 */
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 4px; /* 둥근 모서리 */
}

.searchButton {
    background-color: #007bff; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    cursor: pointer; /* 포인터 커서 */
}

#userTable {
    width: %;
    border-collapse: collapse; /* Remove cell borders */
    margin-bottom: 20px; /* 테이블 아래 여백 */
}

#userTable th, #userTable td {
    border: 2px solid #bdbdbd; /* Border style */
    padding: 10px; /* Cell padding */
    text-align: center; /* Center alignment */
}

#userTable th {
    background-color: #f2f2f2; /* Header background color */
    font-weight: bold; /* Bold font */
}

#userTable td {
    line-height: 30px; /* Line height */
}

#userTable input[type="button"] {
    width: 80px; /* 버튼 너비 */
    height: 35px; /* 버튼 높이 */
    border: none;
    border-radius: 12px;
    background-color: #28a745; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    cursor: pointer;
}

#pagination {
    text-align: center;
    margin: 20px 0; /* 여백 설정 */
}

#pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 둥근 모서리 */
}

#pagination a.active {
    font-weight: bold;
    color: #fff; /* 활성화된 링크 텍스트 색상 */
    background-color: #007bff; /* 활성화된 링크 배경색 */
}

#pagination a.prev, #pagination a.next {
    font-weight: bold;
}

select,
input {
    width: 20%; /* 입력 및 선택 상자를 가로 전체로 설정 */
    padding: 10px; /* 안쪽 여백 */
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 4px; /* 둥근 모서리 */
    margin-top: 5px; /* 입력 상자 상단 여백 */
}

/* Responsive styles */
@media (max-width: 600px) {
    #userWrapper {
        width: 100%;
        margin-left: 0;
    }

    #userContainer {
        width: 100%;
    }

    #userContent {
        padding: 5px; /* Reduce padding on small screens */
    }

    #userTable th, #userTable td {
        padding: 5px; /* Reduce padding on small screens */
    }

    #userTable input[type="button"] {
        width: 50px; /* Adjust button width on small screens */
        height: 25px; /* Adjust button height on small screens */
    }
}
