@charset "utf-8";
#aside{
  width:200px;
  background-color: rgb(211, 237, 248);
  height: 100vh;
  z-index: 1000;
  display: inline-block;
  float:left;
  box-sizing:border-box;
  /* overflow: hidden; */
}

#wrapper{
  display: flex;
  flex-direction: column;
}

#wrapper #container1{
  width:100%;
  padding: 10px;
  border-bottom:3px solid #333 ;
  box-sizing: border-box;
}
#wrapper #container1 img{
  width:100px;
}

#wrapper #container2{
  width:100%;
  /* background-color: yellow; */
  box-sizing: border-box;
  padding:10px;
  /* text-align: center; */
}
#wrapper #container2 #list li{
  /* background-color: antiquewhite; */
  padding:10px 5px;
  font-size:20px;
  cursor: pointer;
  text-align: center;
}
#wrapper #container2 #list li:hover{
  background-color: rgb(30, 106, 249);
  color:#fff;
}





