<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tot.dao.NoticeDao">

	<resultMap id="NoticeResultMap" type="NoticeVO">
	    <id property="noId" column="NOID"/>
	    <result property="noTitle" column="NOTITLE"/>
	    <result property="noText" column="NOTEXT"/>
	    <result property="noRegdate" column="NOREGDATE"/>
	    <result property="noUpdate" column="NOUPDATE"/>
	</resultMap> 
    
    <select id="selectNoticeTotalCount" parameterType="PageDTO" resultType="int">
	    SELECT COUNT(*)
	    FROM NOTICE
	    <where>
	        <if test="dto.search != null and dto.search != ''">
	            <choose>
	                <when test="dto.searchType.name() == 'TITLE'">
	                    NOTITLE LIKE '%' || #{dto.search} || '%'
	                </when>
	                <when test="dto.searchType.name() == 'CONTENT'">
	                    NOTEXT LIKE '%' || #{dto.search} || '%'
	                </when>
	                <when test="dto.searchType.name() == 'ALL'">
	                    (NOTITLE LIKE '%' || #{dto.search} || '%'
	                    OR NOTEXT LIKE '%' || #{dto.search} || '%')
	                </when>
	            </choose>
	        </if>
	    </where>
	</select>
    
	<select id="noticeListWithPaging" parameterType="PageDTO" resultMap="NoticeResultMap">
    SELECT *
    FROM (
        SELECT NOID, NOTITLE, NOTEXT, NOREGDATE, NOUPDATE,
               ROW_NUMBER() OVER(
                   ORDER BY NOREGDATE DESC 
               ) AS rn
        FROM NOTICE
        <where> 
            <if test="dto.search != null and dto.search != ''">
                <choose>
                    <when test="dto.searchType.name() == 'TITLE'">
                        AND NOTITLE LIKE '%' || #{dto.search} || '%'
                    </when>
                    <when test="dto.searchType.name() == 'CONTENT'">
                        AND NOTEXT LIKE '%' || #{dto.search} || '%'
                    </when>
                    <when test="dto.searchType.name() == 'ALL'">
                        AND (NOTITLE LIKE '%' || #{dto.search} || '%'
                        OR NOTEXT LIKE '%' || #{dto.search} || '%')
                    </when>
                </choose>
            </if>
        </where>
    	)
	    WHERE rn BETWEEN #{offset} AND #{offset} + #{pageRowCount}
	</select>

	<select id="getNoticeDetail" parameterType="int" resultType="NoticeVO">
	    SELECT * FROM NOTICE WHERE NOID = #{noId}
	</select>
    
</mapper>
