<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tot.dao.QnaDao">

    <select id="selectQnaTotalCount" parameterType="PageDTO" resultType="int">
	    SELECT COUNT(*)
	    FROM qna
	    WHERE 1=1
	    
	   	<choose>
			<when test="boardId == 2">
				AND MEMID = #{memId}
			</when>
		</choose>
		
		<if test="dto.searchType.name() != 'ALL'">
            AND qna_001 = #{dto.searchType}
        </if>
		
		<if test="dto.search != null and dto.search != ''">
			<if test="dto.searchType.name() != 'ALL'">
	            AND qna_001 = #{dto.searchType}
	        </if>
		</if>
	</select>
    
    <select id="qnaListWithPaging" parameterType="PageDTO" resultMap="QnaResultMap">
	    SELECT *
	    FROM (
	        SELECT QNAID, q.MEMID, m.MEMNICK, QNA_001, QNA_002, COMMENTSTATUS, QNATITLE, QNATEXT, QNAREGDATE, QNAUPDATE,
	               ROW_NUMBER() OVER(ORDER BY QNAREGDATE DESC) AS rn
	        FROM qna q
			LEFT JOIN MEMBER m ON q.MEMID = m.MEMID
			WHERE 1=1
				
			<choose>
				<when test="boardId == 2">
					AND q.MEMID = #{memId}
				</when>
			</choose>	
	        
	        <if test="dto.searchType.name() != 'ALL'">
	            AND qna_001 = #{dto.searchType}
	        </if>
	        
	        <if test="dto.search != null and dto.search != ''">
				<if test="dto.searchType.name() != 'ALL'">
		            AND qna_001 = #{dto.searchType}
		        </if>
		        AND qnaTitle LIKE '%' || #{dto.search} || '%'
			</if>
	    )
	    WHERE rn BETWEEN #{offset} + 1 AND #{offset} + #{pageRowCount}
	</select>

	<select id="getQnaDetail" parameterType="int" resultType="QnaDTO">
		SELECT * 
		FROM QNA q
		LEFT JOIN MEMBER m ON q.MEMID = m.MEMID
		where QNAID = #{qnaId}	
	</select>
	
	<insert id="insertQna" parameterType="QnaVO">
	    insert into qna(QNAID, MEMID, QNA_001, QNA_002, COMMENTSTATUS, QNATITLE, QNATEXT, QNAREGDATE, QNAUPDATE)
	    values(seq_qnaid.nextval, #{memId}, #{qna_001}, #{qna_002}, #{commentStatus}, #{qnaTitle}, #{qnaText}, SYSDATE, null)
	</insert>
	
	<select id="getCommentsByQnaId" parameterType="int" resultType="QnaCommentVO">
	    SELECT QNACID, QNAID, QNACTEXT, QNACREGDATE, QNACUPDATE 
	    FROM QNACOMMENT 
	    WHERE QNAID = #{qnaId}
	</select>
    
    <resultMap id="QnaResultMap" type="QnaDTO">
        <id property="qnaId" column="QNAID"/>
        <result property="memId" column="MEMID"/>
        <result property="memNick" column="MEMNICK"/>
        <result property="qna_001" column="QNA_001"/>
        <result property="qna_002" column="QNA_002"/>
        <result property="commentStatus" column="COMMENTSTATUS"/>
        <result property="qnaTitle" column="QNATITLE"/>
        <result property="qnaText" column="QNATEXT"/>
        <result property="qnaRegdate" column="QNAREGDATE"/>
        <result property="qnaUpdate" column="QNAUPDATE"/>
    </resultMap>

</mapper>